h1{
font-family:Kablammo, cursive ;
text-align: center;    
}
a{
font-family:Kablammo,cursive  ;
color: rgb(24, 193, 136); 
text-decoration: none;
font-size: 1.2em;
 transition: 0.5s;  
}
a:hover{
 letter-spacing: 3px;   
}

.menu-item{
text-align: center;
background-color: rgb(157, 254, 222);
margin: 5px;
padding: 15px;
}
img{
    width: 80%;
    padding: 20px;
}